
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel" translate="springTestApp.student.home.createOrEditLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="springTestApp.student.firstname" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                    ng-model="student.firstname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="springTestApp.student.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                    ng-model="student.lastname"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
