// Variables

@import '../core/global-scss/global.scss';

$toolbarHeight: 64px;

#toolbar {
    height: $toolbarHeight;
    min-height: $toolbarHeight;
    max-height: $toolbarHeight;
    z-index: 55;

    #navigation-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
    }

    #navigation-sidenav-mode-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;

        md-icon {
            transition: transform 0.3s ease-in-out 0.1s;
            transform: rotate(0deg);
        }
    }

    #search {
        font-size: 13px;

        label {
            padding: 0 16px 0 24px;
            md-icon {
                line-height: $toolbarHeight;
            }
        }

        #search-input {
            min-height: $toolbarHeight;
            background-color: transparent;
        }
    }

    #toolbar-progress {
        position: relative;
        top: -10px;
        height: 32px;
        min-height: 32px;
        max-height: 32px;
    }

    #user-menu {
        height: $toolbarHeight;
        padding: 0;

        md-menu-item .md-button {
            font-size: 15px;

            md-icon {
                margin: auto 16px auto 0;
            }
        }

        md-menu-content {

            &.md-menu-bar-menu {

                &.md-dense {
                    padding: 8px 0;

                    .md-button,
                    md-menu-item {
                        height: 48px;
                        line-height: 48px;
                    }
                }
            }
        }

        #user-status-menu {

            md-menu-item {

                &.selected {
                    opacity: .3;
                }
            }
        }

        .user-button {
            margin: 0;
            padding: 0 16px;
            height: $toolbarHeight;
            text-transform: none;

            .avatar-wrapper {
                position: relative;

                .status {
                    position: absolute;
                    bottom: -3px;
                    right: 5px;
                }
            }

            .username {
                margin: 0 12px 0 8px;
            }
        }
    }

    #language-menu {
        height: $toolbarHeight;

        .language-button {
            min-width: $toolbarHeight;
            height: $toolbarHeight;
            margin: 0;
            padding: 0 16px;
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 0;

            .iso {
                text-transform: uppercase;
            }

            .flag {
                margin-right: 8px;
            }
        }
    }

    #quick-panel-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
    }
}

#language-menu-content {

    md-menu-item {

        .flag {
            margin-right: 16px;
        }
    }
}

#language-message {
    padding: 8px 16px;

    > p {
        margin: 8px 0;
    }
}

.navigation-folded {

    #toolbar {

        #navigation-sidenav-mode-toggle {

            md-icon {
                transition: transform 0.3s ease-in-out 0.1s;
                transform: rotate(180deg);
            }
        }
    }
}

// RESPONSIVE

@media screen and (max-width: $layout-breakpoint-sm) {

    #toolbar {

        #user-menu {

            .user-button {
                min-width: 64px;
                padding: 0 2px 0 10px;
            }
        }

        #search label {
            padding: 0 8px 0 12px;
        }
    }
}
