#maps {

    > .header {
        height: 160px !important;
        min-height: 160px !important;
        max-height: 160px !important;
    }

    > .content {

        md-tabs {
            box-shadow: $whiteframe-shadow-1dp;
        }

        .card {
            max-width: 1200px;
            padding: 16px;
            margin: 24px;

            .angular-google-map-container {
                height: 400px;
            }
        }
    }
}