<div id="menu-bar" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" layout-sm="column">

        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">COMPONENTS</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">ELEMENTS</span>
            </div>
            <div class="title">Menu Bar</div>
        </div>

        <div layout="row" layout-align="start center">
            <md-button class="md-raised reference-button"
                       href="https://material.angularjs.org/0.11.2/#/api/material.components.menu-bar/directive/mdMenuBar"
                       target="_blank">
                <md-icon md-font-icon="icon-link"></md-icon>
                <span>Reference</span>
            </md-button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div class="description">
            <p>Menu bars are containers that hold multiple menus. They change the behavior and appearence
                of the <code>md-menu</code> directive to behave similar to an operating system provided menu.</p>
        </div>

        <h2>Menu Bar Controls</h2>

        <p>You may place <code>md-menu-items</code> that function as controls within menu bars.
            There are two modes that are exposed via the <code>type</code> attribute of the <code>md-menu-item</code>.
            <code>type="checkbox"</code> will function as a boolean control for the <code>ng-model</code> attribute of
            the
            <code>md-menu-item</code>. <code>type="radio"</code> will function like a radio button, setting the <code>ngModel</code>
            to the <code>string</code> value of the <code>value</code> attribute. If you need non-string values, you can
            use
            <code>ng-value</code> to provide an expression (this is similar to how angular's native <code>input[type=radio]</code>
            works.</p>

        <h2>Nesting Menus</h2>

        <p>Menus may be nested within menu bars. This is commonly called cascading menus.
            To nest a menu place the nested menu inside the content of the <code>md-menu-item</code>.</p>

        <div class="md-title">Usage</div>
        <div class="card md-whiteframe-4dp">
            <div layout="row" layout-sm="column">
                <div flex class="preview" layout="column">

                    <md-toolbar class="md-menu-toolbar">
                        <div layout="row">
                            <md-toolbar-filler layout layout-align="center center">
                                <md-icon md-font-icon="icon-file-document"></md-icon>
                            </md-toolbar-filler>
                            <div>
                                <h2 class="md-toolbar-tools">Untitled document</h2>
                                <md-menu-bar>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            File
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('share', $event)">
                                                    Share...
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-menu>
                                                    <md-button ng-click="$mdOpenMenu()">New</md-button>
                                                    <md-menu-content>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="vm.sampleAction('New Document', $event)">
                                                                Document
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="vm.sampleAction('New Spreadsheet', $event)">
                                                                Spreadsheet
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="vm.sampleAction('New Presentation', $event)">
                                                                Presentation
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button ng-click="vm.sampleAction('New Form', $event)">
                                                                Form
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button
                                                                    ng-click="vm.sampleAction('New Drawing', $event)">
                                                                Drawing
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('Open', $event)">
                                                    Open...
                                                    <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button disabled="disabled"
                                                           ng-click="vm.sampleAction('Rename', $event)">
                                                    Rename
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('Print', $event)">
                                                    Print
                                                    <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            Edit
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-font-icon="icon-undo"></md-icon>
                                                <md-button ng-click="vm.sampleAction('undo', $event)">
                                                    Undo
                                                    <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-font-icon="icon-redo"></md-icon>
                                                <md-button ng-click="vm.sampleAction('redo', $event)">
                                                    Redo
                                                    <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-font-icon="icon-content-cut"></md-icon>
                                                <md-button ng-click="vm.sampleAction('cut', $event)">
                                                    Cut
                                                    <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-font-icon="icon-content-copy"></md-icon>
                                                <md-button ng-click="vm.sampleAction('copy', $event)">
                                                    Copy
                                                    <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon md-font-icon="icon-content-paste"></md-icon>
                                                <md-button ng-click="vm.sampleAction('paste', $event)">
                                                    Paste
                                                    <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-button ng-click="vm.sampleAction('Find and replace', $event)">
                                                    Find and replace...
                                                    <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            View
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item type="checkbox" ng-model="vm.settings.printLayout">Print
                                                layout
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-menu>
                                                    <md-button ng-click="$mdOpenMenu()">Mode</md-button>
                                                    <md-menu-content width="3">
                                                        <md-menu-item type="radio"
                                                                      ng-model="vm.settings.presentationMode"
                                                                      value="'presentation'">Presentation
                                                        </md-menu-item>
                                                        <md-menu-item type="radio"
                                                                      ng-model="vm.settings.presentationMode"
                                                                      value="'edit'">Edit
                                                        </md-menu-item>
                                                        <md-menu-item type="radio"
                                                                      ng-model="vm.settings.presentationMode"
                                                                      value="'modifiable'">Modifiable
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item type="checkbox" ng-model="vm.settings.showRuler">Show ruler
                                            </md-menu-item>
                                            <md-menu-item type="checkbox" ng-model="vm.settings.showEquationToolbar">
                                                Show equation toolbar
                                            </md-menu-item>
                                            <md-menu-item type="checkbox"
                                                          ng-model="vm.settings.showSpellingSuggestions">Show spelling
                                                suggestions
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item type="checkbox" ng-model="vm.settings.compactControls">Compact
                                                controls
                                            </md-menu-item>
                                            <md-menu-item type="checkbox" ng-model="vm.settings.fullScreen">Full
                                                screen
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            Format
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('bold', $event)">
                                                    Bold
                                                    <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('italic', $event)">
                                                    Italic
                                                    <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('underline', $event)">
                                                    Underline
                                                    <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('strikethrough', $event)">
                                                    Strikethrough
                                                    <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('superscript', $event)">
                                                    Superscript
                                                    <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.sampleAction('subscript', $event)">
                                                    Subscript
                                                    <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item>
                                                <md-button ng-click="vm.toggleSetting('clearFormatting')">Clear
                                                    Formatting
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </div>
                        </div>
                    </md-toolbar>
                    <div class="page-container">
                        <div class="page">
                            <h1>Untitled document</h1>

                            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna
                                mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae
                                elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta
                                felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                                auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis,
                                est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem
                                lacinia quam venenatis vestibulum.</p>

                            <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
                                Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus
                                magna, vel scelerisque nisl consectetur et.</p>
                        </div>
                    </div>
                </div>

                <div flex class="source-code">
                    <hljs lang="html" ms-scroll>

                        <md-toolbar class="md-menu-toolbar">
                            <div layout="row">
                                <md-toolbar-filler layout layout-align="center center">
                                    <md-icon md-font-icon="icon-file-document"></md-icon>
                                </md-toolbar-filler>
                                <div>
                                    <h2 class="md-toolbar-tools">Untitled document</h2>
                                    <md-menu-bar>
                                        <md-menu>
                                            <button ng-click="$mdOpenMenu()">
                                                File
                                            </button>
                                            <md-menu-content>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('share', $event)">
                                                        Share...
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item>
                                                    <md-menu>
                                                        <md-button ng-click="$mdOpenMenu()">New</md-button>
                                                        <md-menu-content>
                                                            <md-menu-item>
                                                                <md-button
                                                                        ng-click="vm.sampleAction('New Document', $event)">
                                                                    Document
                                                                </md-button>
                                                            </md-menu-item>
                                                            <md-menu-item>
                                                                <md-button
                                                                        ng-click="vm.sampleAction('New Spreadsheet', $event)">
                                                                    Spreadsheet
                                                                </md-button>
                                                            </md-menu-item>
                                                            <md-menu-item>
                                                                <md-button
                                                                        ng-click="vm.sampleAction('New Presentation', $event)">
                                                                    Presentation
                                                                </md-button>
                                                            </md-menu-item>
                                                            <md-menu-item>
                                                                <md-button ng-click="vm.sampleAction('New Form', $event)">
                                                                    Form
                                                                </md-button>
                                                            </md-menu-item>
                                                            <md-menu-item>
                                                                <md-button
                                                                        ng-click="vm.sampleAction('New Drawing', $event)">
                                                                    Drawing
                                                                </md-button>
                                                            </md-menu-item>
                                                        </md-menu-content>
                                                    </md-menu>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('Open', $event)">
                                                        Open...
                                                        <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button disabled="disabled"
                                                               ng-click="vm.sampleAction('Rename', $event)">
                                                        Rename
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('Print', $event)">
                                                        Print
                                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                        <md-menu>
                                            <button ng-click="$mdOpenMenu()">
                                                Edit
                                            </button>
                                            <md-menu-content>
                                                <md-menu-item class="md-indent">
                                                    <md-icon md-font-icon="icon-undo"></md-icon>
                                                    <md-button ng-click="vm.sampleAction('undo', $event)">
                                                        Undo
                                                        <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item class="md-indent">
                                                    <md-icon md-font-icon="icon-redo"></md-icon>
                                                    <md-button ng-click="vm.sampleAction('redo', $event)">
                                                        Redo
                                                        <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item class="md-indent">
                                                    <md-icon md-font-icon="icon-content-cut"></md-icon>
                                                    <md-button ng-click="vm.sampleAction('cut', $event)">
                                                        Cut
                                                        <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item class="md-indent">
                                                    <md-icon md-font-icon="icon-content-copy"></md-icon>
                                                    <md-button ng-click="vm.sampleAction('copy', $event)">
                                                        Copy
                                                        <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item class="md-indent">
                                                    <md-icon md-font-icon="icon-content-paste"></md-icon>
                                                    <md-button ng-click="vm.sampleAction('paste', $event)">
                                                        Paste
                                                        <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item class="md-indent">
                                                    <md-button ng-click="vm.sampleAction('Find and replace', $event)">
                                                        Find and replace...
                                                        <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                        <md-menu>
                                            <button ng-click="$mdOpenMenu()">
                                                View
                                            </button>
                                            <md-menu-content>
                                                <md-menu-item type="checkbox" ng-model="vm.settings.printLayout">Print
                                                    layout
                                                </md-menu-item>
                                                <md-menu-item class="md-indent">
                                                    <md-menu>
                                                        <md-button ng-click="$mdOpenMenu()">Mode</md-button>
                                                        <md-menu-content width="3">
                                                            <md-menu-item type="radio"
                                                                          ng-model="vm.settings.presentationMode"
                                                                          value="'presentation'">Presentation
                                                            </md-menu-item>
                                                            <md-menu-item type="radio"
                                                                          ng-model="vm.settings.presentationMode"
                                                                          value="'edit'">Edit
                                                            </md-menu-item>
                                                            <md-menu-item type="radio"
                                                                          ng-model="vm.settings.presentationMode"
                                                                          value="'modifiable'">Modifiable
                                                            </md-menu-item>
                                                        </md-menu-content>
                                                    </md-menu>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item type="checkbox" ng-model="vm.settings.showRuler">Show ruler
                                                </md-menu-item>
                                                <md-menu-item type="checkbox" ng-model="vm.settings.showEquationToolbar">
                                                    Show equation toolbar
                                                </md-menu-item>
                                                <md-menu-item type="checkbox"
                                                              ng-model="vm.settings.showSpellingSuggestions">Show spelling
                                                    suggestions
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item type="checkbox" ng-model="vm.settings.compactControls">Compact
                                                    controls
                                                </md-menu-item>
                                                <md-menu-item type="checkbox" ng-model="vm.settings.fullScreen">Full
                                                    screen
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                        <md-menu>
                                            <button ng-click="$mdOpenMenu()">
                                                Format
                                            </button>
                                            <md-menu-content>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('bold', $event)">
                                                        Bold
                                                        <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('italic', $event)">
                                                        Italic
                                                        <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('underline', $event)">
                                                        Underline
                                                        <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('strikethrough', $event)">
                                                        Strikethrough
                                                        <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('superscript', $event)">
                                                        Superscript
                                                        <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.sampleAction('subscript', $event)">
                                                        Subscript
                                                        <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-divider></md-menu-divider>
                                                <md-menu-item>
                                                    <md-button ng-click="vm.toggleSetting('clearFormatting')">Clear
                                                        Formatting
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-menu-bar>
                                </div>
                            </div>
                        </md-toolbar>
                        <div class="page-container">
                            <div class="page">
                                <h1>Untitled document</h1>

                                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna
                                    mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae
                                    elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                    Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta
                                    felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                                    auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis,
                                    est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                    Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem
                                    lacinia quam venenatis vestibulum.</p>

                                <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.
                                    Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus
                                    magna, vel scelerisque nisl consectetur et.</p>
                            </div>
                        </div>
                    </hljs>
                </div>
            </div>

        </div>

    </div>
    <!-- / CONTENT -->
</div>