<div id="whiteframe" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" layout-sm="column">

        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">COMPONENTS</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">ELEMENTS</span>
            </div>
            <div class="title">Whiteframe</div>
        </div>

        <div layout="row" layout-align="start center">
            <md-button class="md-raised reference-button"
                       href="https://material.angularjs.org/0.11.2/#/demo/material.components.whiteframe"
                       target="_blank">
                <md-icon md-font-icon="icon-link"></md-icon>
                <span>Reference</span>
            </md-button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
            <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">
                <span>.md-whiteframe-1dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-2dp" layout layout-align="center center">
                <span>.md-whiteframe-2dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-3dp" layout layout-align="center center">
                <span>.md-whiteframe-3dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-4dp" layout layout-align="center center">
                <span>.md-whiteframe-4dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center">
                <span>.md-whiteframe-5dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-6dp" layout layout-align="center center">
                <span>.md-whiteframe-6dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-7dp" layout layout-align="center center">
                <span>.md-whiteframe-7dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-8dp" layout layout-align="center center">
                <span>.md-whiteframe-8dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-9dp" layout layout-align="center center">
                <span>.md-whiteframe-9dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-10dp" layout layout-align="center center">
                <span>.md-whiteframe-10dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-11dp" layout layout-align="center center">
                <span>.md-whiteframe-11dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-12dp" layout layout-align="center center">
                <span>.md-whiteframe-12dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-13dp" layout layout-align="center center">
                <span>.md-whiteframe-13dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-14dp" layout layout-align="center center">
                <span>.md-whiteframe-14dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-15dp" layout layout-align="center center">
                <span>.md-whiteframe-15dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-16dp" layout layout-align="center center">
                <span>.md-whiteframe-16dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-17dp" layout layout-align="center center">
                <span>.md-whiteframe-17dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-18dp" layout layout-align="center center">
                <span>.md-whiteframe-18dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-19dp" layout layout-align="center center">
                <span>.md-whiteframe-19dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-20dp" layout layout-align="center center">
                <span>.md-whiteframe-20dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-21dp" layout layout-align="center center">
                <span>.md-whiteframe-21dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-22dp" layout layout-align="center center">
                <span>.md-whiteframe-22dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-23dp" layout layout-align="center center">
                <span>.md-whiteframe-23dp</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-24dp" layout layout-align="center center">
                <span>.md-whiteframe-24dp</span>
            </md-whiteframe>
        </div>

    </div>
    <!-- / CONTENT -->
</div>