<md-sidenav id="navigation" class="md-primary-bg" md-is-locked-open="$mdMedia('gt-md')"
            md-component-id="navigation" ms-nav-is-folded="false" ms-scroll ui-view="navigation"></md-sidenav>

<div id="content-container" flex layout="column">
    <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp md-background-bg" ui-view="toolbar"></md-toolbar>

    <div id="content" flex>
        <md-content class="md-background md-hue-1 animate slide-up" ms-scroll ui-view="content" flex>

        </md-content>
    </div>
</div>

<md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel"
            ms-scroll ui-view="quickPanel"></md-sidenav>
