#dialog.element-doc-page {

    .content {

        .methods {
            list-style: none;
            padding: 0;

            > li {
                margin: 32px 0 64px 0;
            }
        }
    }
}